@media (min-width: 576px) {
    .col-sm-55 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-55 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 992px) {
    .min-h-72-992{
        min-height: 72px;
    }
    .col-lg-55 {
        flex: 0 0 auto;
        width: 20%;
    }
    .big {
        width: 100%;
    }
    .cart-p-m-w{
        max-width: 119px;
        width: 100%;
    }
}

@media (max-width: 991px) {

    .header_menu{
        .btn_for_menu{
            display: block;
        }
        .btn_close_for_menu{
            display: block;
            font-size: 30px;
            text-align: end;
            width: 100%;
            margin-top: 20px;
            margin-right: 30px;
        }
        nav {
            position: absolute;
            top: 0;
            left: -1200px;
            z-index: 11;
            transition: 0.6s;

            &.show {
                left: 0;
                transition: 0.6s;
                background-color: #ffffff;

            }
            ul {
            flex-direction: column;
            //background-color: #ffffff;
            width: 100vw;
            //width: 100%;
            height: 100vh;
            li {
                margin-bottom: 10px !important;

                a {
                    color: $primary !important;
                    font-size: 24px !important;
                    &:first-child{
                        margin-left: 20px;
                    }
                }
            }
        }
        }


    }



    .courses-show-div {
        .main4 {
            .one-lector {
                padding: 27px 35px;
            }
        }
    }
    .header_text_block{
        flex: 0 0 100%;
    }
}

@media (min-width: 1200px) {
    .min-h-72-1200{
        min-height: 72px;
    }
    .col-xl-55 {
        flex: 0 0 auto;
        width: 20%;
    }
    .cart-p-m-w{
        max-width: 210px;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .videoPic-index{
        max-width: 348px;
    }
    .min-h-48{
        min-height: 48px;
    }
    .videoTxt-index{
        white-space: nowrap;
        width: 222px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .cart-p-m-w{
        max-width: 251px;
        width: 100%;
    }
    .col-xxl-55 {
        flex: 0 0 auto;
        width: 20%;
    }
    .courses-show-div {
        .main2 {
            .eng-doctors-txt {
                background: linear-gradient(180deg, #FFFFFF 42%, #F9F9F9 40%);
            }
        }
    }
    .min-h-120{
        min-height: 120px;
    }
    .min-h-42{
        min-height: 42px;
    }
    .min-h-50{
        min-height: 50px;
    }
    .min-h-75{
        min-height: 75px;
    }
    .min-h-96{
        min-height: 96px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
    .min-h-42{
        min-height: 42px;
    }
    .min-h-50{
        min-height: 50px;
    }
    .courses-show-div{
        .main8{
            .main8-2{
                .contacts{
                   .contact3{
                       margin-top: 0 !important;
                   }
                }
            }
        }
    }
}

@media (min-width: 1483px){
    .are_any_questions_div{
        input{
            max-width: calc(50% - 20px);
        }
    }
}

@media (max-width: 1400px) {
    .purchase_border_bottom {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 15px;
    }
}

@media (max-width: 1200px) {

    .watched-bg2 {
        height: 230px;
    }
    h1 {
        font-size: 48px;
    }
    h5 {
        font-size: 20px;
    }
    .course_btn {
        padding: 20px 60px !important;
    }
    .icon-style3 {
        width: 30px;
        height: 30px;
        font-size: 10px !important;
    }
    .direction-list {
        height: auto !important;
    }
}

@media (max-width: 1199px){
    .courses-show-div {
        .main2 {
            .card-div {
                margin-top: 0;
                .card-body{
                    padding: 5px;
                    .div-icons {
                        div {
                            width: 150px;
                        }
                    }
                }
            }

            .eng-doctors-txt{
                padding-top: 13px;
                background: transparent;
                .about-course1{
                    position: absolute;
                    top: 120px;
                    z-index: 1;
                    margin-bottom: 0;
                    h1{
                        font-size: 24px;
                        line-height: 30px;
                        color: #FFFFFF !important;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        color: #F9F9F9 !important;
                        margin-bottom: 20px;
                    }
                }
                .images{
                    margin-right: 13px;
                    img{
                        width: 32px;
                        height: 32px;
                        margin-left: -18px;
                    }
                }
                .txts1{
                    margin-right: 0;
                    .txts-1-title{
                        font-size: 12px;
                        line-height: 15px;
                        color: #F9F9F9 !important;
                        margin-bottom: 3px;
                    }
                    .p-name{
                        margin-bottom: 0;
                        margin-right: 10px;
                    }
                    svg{
                        width: 10px;
                        height: 6px;
                        margin: 0;
                        path{
                            fill: #FFFFFF;
                        }

                    }
                }
            }
            .about-course-txt{
                h2{
                    margin-bottom: 12px !important;
                }
            }
        }
        .div-menu-2{
            .menu{
                font-size: 10px;
                line-height: 12px;
            }
        }


    }
}

@media (max-width: 992px) {
    //.grid-container {
    //    display: grid;
    //    grid-template-columns: 25% 25% 25% 25% 25%;
    //    gap: 20px;
    //    grid-template-rows: 100%;
    //
    //}
    .grid-container {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        gap: 20px;
        grid-template-rows: auto auto;
    }
    .grid-big-div{
        overflow-x: scroll;
    }
    .grid-item-1{
        grid-row: 1 ;
        grid-column: 1/span 2;
    }
    .useful_articles {
        .useful_article_row {
            border-radius: 0;
            overflow: scroll;
            margin: 0 -10px;
        }

        .useful_article_item {
            border-radius: 12px;
            overflow: hidden;
            flex: 0 0 80%;
            margin: 0 10px;

            & > div {
                height: 160px;
            }

            h5{
                font-size: 15px !important;
            }
        }
    }
    .aside {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 80px);
        left: 0;
        top: 80px;
        background-color: #fff;
    }

    .fs-24 {
        font-size: 16px;
    }

    .course_form {
        width: 100%;
    }
    .icon-style2 {
        width: 57px;
        height: 57px;
    }

    .message_content {
        background-color: transparent !important;
        border: none !important;
    }
}

@media (max-width: 768px) {
    .courses-show-div {
        .main5{
            padding: 11px;
            margin-bottom: 30px;
            .main5-1{
                h3{
                    font-size: 26px !important;
                    line-height: 38px !important;
                }
            }
            .main5-2{
                h3{
                    font-size: 26px !important;
                    line-height: 32px !important;
                }
            }
        }
        .main6{
            margin-bottom: 30px;
        }
        .main7{
            margin-bottom: 30px;
        }
        .main8{
            padding: 10px;
            margin-bottom: 30px;
        }
    }


    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 16px;
    }

    .fs-20 {
        font-size: 14px;
    }

    .fs-18 {
        font-size: 14px;
    }

    .AdditionsSwiper {
        .swiper-slide {
            width: 80% !important;
        }
    }
    .fs-36 {
        font-size: 30px;
    }

    .fs-50 {
        font-size: 36px;
    }

    .fs-16 {
        font-size: 14px;
    }

    .course_btn {
        width: 100%;
    }

    .image_part {
        img {
            width: 100%;
            height: 80px;
            object-fit: cover;
        }
    }
    .image_part > p {
        padding: 12px 29px;
    }

    .section_top {
        width: 100%;
        height: 420px;
    }
    .card_course {
        height: 595px;
    }

    .header_text {
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 14px;
        }
    }

    .icon-style4 {
        width: 50px;
        height: 50px;

        & i {
            font-size: 16px;
        }
    }
}


@media (max-width: 767px){
    .videoTxt-index{
        max-height: 75.56px;
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .courses-show-div{
        .accordion-button::after {
            //flex-shrink: 0;
            //width: 18px;
            //height: 18px;
            position: absolute;
            top: 20px;
            right: 22px;
            margin-left: auto;
            content: "";
            //transform: rotate(-90deg);
            background-image: var(--bs-accordion-btn-icon);
            background-repeat: no-repeat;
            background-size: var(--bs-accordion-btn-icon-width);
            transition: var(--bs-accordion-btn-icon-transition);
        }
        .btn-buy{
            margin-right: 0 !important;
        }
        .many-lector{
            .card{
                max-width: 158px !important;
            }
        }
    }
}


@media (max-width: 576px) {
    .fs-36 {
        font-size: 24px;
    }
    .fs-50 {
        font-size: 24px;
    }

    h1 {
        font-size: 26px;
    }

    .fs-14 {
        font-size: 12px;
    }

    .course_btn {
        padding: 20px;
    }

    .about_text {
        h1 {
            font-size: 32px;
        }

        h5 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }
    }
    .btn_text {
        font-size: 10px;
    }
}

@media (min-width: 450px) {
    .purchase_text {
        display: none;
    }
}
